mixin fadeinImg
    script.
        $claudia.fadeInImage(null, $claudia.blurBackdropImg)
        const imgs = document.querySelectorAll('.js-img-fadeIn')
        window.addEventListener('resize', $claudia.throttle(function () {
            imgs.forEach($claudia.blurBackdropImg)
        }, 300))